@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
   background: white;
  margin: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.mainbody{
  width: 100%;
  margin: 0;
}

.logo img{
  width: 30%;
  height: 20%;
  float: left;
  display: initial;
  border-radius: 8px;
  margin: 0 auto;
  margin-left: 50px;
  margin-top: 15px;
  padding-bottom: 15px;
}


.dotcategory {
  height: 135px;
  width: 135px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;

  background-image: url("category.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dotclothing {
  height: 135px;
  width: 135px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;

  background-image: url("clothes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dotbooks {
  height: 135px;
  width: 135px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;

  background-image: url("books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dotshoes {
  height: 135px;
  width: 135px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;

  background-image: url("shoes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dotelectronics {
  height: 135px;
  width: 135px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;

  background-image: url("electronics.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dotname {

  font-size:34px; 
  margin-left: 3%;
  margin-right: 2%;
}

.topbutton{
  background-color: white;
}

/* Add a black background color to the top navigation */

.mtopnav {
  background-color: #000000;
  overflow: hidden;
}
.mtopnav a {
  float: right;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 35px;
  margin-top: 1%;
  margin-right: 1%;
}

.topnav {
  background-color: #2F4F4F;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 auto;
}


.category h1{
  text-decoration: none;
  text-align: center;
  font-size: 120px;
  font-family: "Comic Sans MS",cursive,sans-serif;
  }

 
.clothing .card{

  background-image: url("clothes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 

  }



.Shoes .card{
  background-image: url("shoes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Watches .card{
 
  background-image: url("watches.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.books .card{
 
  background-image: url("books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Electronics .card{

  background-image: url("electronics.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.SF .card{

  background-image: url("sports.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.kids .card{

  background-image: url("kidz.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.beauty .card{

  background-image: url("fashion&beauty.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.households .card{

  background-image: url("household.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  .slideshow-container{
    max-height: 700px;
  }
}

.card1 {
 background: linear-gradient(lightgrey 30% , white 70%);
  float: left;
  display: inline-block;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-family: arial;
  height: auto;
}

.card2 {
 background: white;
  float: left;
  display: inline-block;
  box-shadow: 0 3px 6px 0 rgba(17, 74, 121, 0.2);
  width: 450px;
  height: 540px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-family: arial;
}




.price {
  color: black;
  font-size: 20px;
}

.card1 button {
  border: none;
  float: left;
  display: inline-block;
  outline: 10px;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card1 button:hover {
  opacity: 0.4;
}
.block {
  display: block;
  width: 100%;
  border: none;
  color: blue;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* The footer is fixed to the bottom of the page */

footer{
  position: static;
  bottom: 0;
}

@media (max-height:800px){
  footer { position: static; }
}
@media (max-


.footer-distributed{
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 50%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
  width: 30%;
}

.footer-distributed h3 span{
  color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
/* 
.footer-distributed .footer-center{
  width: 35%;
}


.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;
} */


/* Footer Right */

.footer-distributed .footer-right{
  width: 40%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (min-width : 1350px){

  .mainbody{
    width: 72%;
    margin: auto;
  }
}

@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
